<div class="form-1-container section-container">
  <div class="container">
    <div class="row mt-5">
      <div class="col form-1 section-description wow fadeIn">
        <h2>Editar Reserva</h2>
        <div class="divider-1 wow fadeInUp"><span></span></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1 form-1-box wow fadeInUp">
        <form action method="post" [formGroup]="editFormUser">
          <fieldset class="form-group border p-3">
            <legend class="w-auto px-2">Información del usuario</legend>
            <div class="row justify-content-center">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="tipoDocumento">Tipo Documento</label>
                    <select
                      class="form-control"
                      formControlName="tipoDocumento"
                      id="tipoDocumento"
                    >
                    <option value="" selected>Seleccione</option>
                      <option value="CC">CC</option>
                      <option value="PASAPORTE">Pasaporte</option>
                      <option value="VISA">Visa</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="identificacion">Identificacion</label>
                    <input
                      class="form-control"
                      formControlName="identificacion"
                      type="text"
                      id="identificacion"
                      placeholder="Identificación"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="nombres">Nombres</label>
                    <input
                      class="form-control"
                      formControlName="nombres"
                      type="text"
                      id="nombres"
                      placeholder="Nombres"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="apellidos">Apellidos</label>
                    <input
                      class="form-control"
                      formControlName="apellidos"
                      type="text"
                      id="apellidos"
                      placeholder="Apellidos"
                    />
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                    <label for="email">Correo</label>
                    <input
                      class="form-control"
                      formControlName="email"
                      type="email"
                      id="email"
                      placeholder="Correo"
                    />
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </form>

        <form action method="post" [formGroup]="editFormReserva">
          <fieldset class="form-group border p-3">
            <legend class="w-auto px-2">Datos de la reserva</legend>
            <div class="row justify-content-center">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="fechaReserva">Fecha de reserva</label>
                  <input
                    class="form-control"
                    formControlName="fechaReserva"
                    type="date"
                    id="fechaReserva"
                    placeholder="AAAA-MM-DD"
                  />
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="tipoReserva">Tipo reserva</label>
                  <select
                    class="form-control"
                    formControlName="tipoReserva"
                    id="tipoReserva"
                  >
                    <option value="" selected>Seleccione</option>
                    <option value="CENA">Cena</option>
                    <option value="ALMUERZO">Almuerzo</option>
                    <option value="ONCES">Onces</option>
                    <option value="CUMPLEAÑOS">Cumpleaños</option>
                    <option value="OCACION ESPECIAL">Ocasion especial</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="cantidadPersonas">Cantidad de personas</label>
                  <input
                    class="form-control"
                    formControlName="cantidadPersonas"
                    type="number"
                    id="cantidadPersonas"
                    placeholder="Cantidad de personas"
                  />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="cantidadPersonas">Estado</label>
                  <input
                    class="form-control"
                    formControlName="estado"
                    type="text" readonly
                    id="cantidadPersonas"
                    placeholder="Estado"
                  />
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label for="observaciones">Observaciones</label>
                <textarea
                  class="form-control"
                  formControlName="observaciones"
                  id="observaciones"
                  rows="3"
                ></textarea>
              </div>
            </div>
          </fieldset>
        </form>

        <div class="row justify-content-center mt-4">
          <div class="col-md-3">
            <button class="btn btn-primary" (click)="editUsuario()">
              Actualizar Información
            </button>
          </div>
          <div class="col-md-2">
            <button class="btn btn-primary" (click)="confirmar()">
              Confirmar Reserva
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
